<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hust.mapper.NoteBooksMapper">
  <resultMap id="BaseResultMap" type="cn.edu.hust.domain.NoteBooks">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="parent_id" jdbcType="CHAR" property="parent_id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deleted_at" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, type, title, created_at, updated_at, deleted_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from notebooks
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from notebooks
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.hust.domain.NoteBooks">
    insert into notebooks (id, parent_id,type,title, created_at, updated_at, deleted_at) values(#{id,jdbcType=CHAR}, #{parent_id,jdbcType=CHAR}, #{type,jdbcType=TINYINT}, #{title,jdbcType=VARCHAR}, #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP}, #{deleted_at,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hust.domain.NoteBooks">
    insert into notebooks
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parent_id != null">
        parent_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="created_at != null">
        created_at,
      </if>
      <if test="updated_at != null">
        updated_at,
      </if>
      <if test="deleted_at != null">
        deleted_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="parent_id != null">
        #{parent_id,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="created_at != null">
        #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null">
        #{updated_at,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted_at != null">
        #{deleted_at,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hust.domain.NoteBooks">
    update notebooks
    <set>
      <if test="parent_id != null">
        parent_id = #{parent_id,jdbcType=CHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="created_at != null">
        created_at = #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null">
        updated_at = #{updated_at,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted_at != null">
        deleted_at = #{deleted_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hust.domain.NoteBooks">
    update notebooks
    set parent_id = #{parent_id,jdbcType=CHAR},
      type = #{type,jdbcType=TINYINT},
      title = #{title,jdbcType=VARCHAR},
      created_at = #{created_at,jdbcType=TIMESTAMP},
      updated_at = #{updated_at,jdbcType=TIMESTAMP},
      deleted_at = #{deleted_at,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>

  <select id="findALLNoteBooksByIds" resultMap="BaseResultMap">
    SELECT *
    FROM notebooks
    WHERE id in
    <foreach item="item" index="index" collection="noteBooksIds"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
</mapper>